html,
body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.page-overlay {
  top: 0;
  left: 0;
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(24, 22, 22);
}

.page-overlay-title {
  font-size: 3rem;
  color: aliceblue;
}

.page-overlay-loader {
  width: 10%;
}

.under-overlay {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.under-btn {
  border: 1px solid teal;
  padding: 20px 50px;
  font-size: 1.5rem;
  cursor: pointer;
}

/* .dijitDialogTitleBar {
  background: rgb(76, 99, 126);
  padding: 10px;
} */

/* .dijitDialogPaneContent {
  background: rgb(230, 230, 231);
  border: 1px solid teal;
  height: 30vh;
} */
